/* @import url('../../assets/css/estilos.css') all; */

:root {
    --primario: #0000FF;
    --secundario: #E2D693;
    --terciario: black;
}

/* inicio - animaciones.css --> 001 */
#hero .hero-fondo, #hero .hero-fondo-2 {
    background: url('../images/hero-bkgr.jpg')no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    position:  absolute;
}
/* final - animaciones.css --> 001 */

a {
    color: var(--secundario);
}

a:hover {
    color: var(--primario);
}

#links a:hover .call {background: url('../icons/call-hover.svg') no-repeat center center;}
#links a:hover .whatsapp {background: url('../icons/whatsapp-hover.svg') no-repeat center center;}
#links a:hover .vcard {background: url('../icons/vcard-hover.svg') no-repeat center center;}
#links a:hover .email {background: url('../icons/email-hover.svg') no-repeat center center;}

