* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    body, html {
        max-width: 768px;
        font-size: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .only-for-desktop {
        display: none;
    }
}

@media (min-width: 769px), screen and (orientation: landscape) {
    .hide-on-desktop {
        display: none;
    }
    body, html {
        background-color: var(--primario);
        width: 100%;
        height: 5000%;
        position: fixed;
        overflow: hidden;
    }
    .only-for-desktop {
        display: inline;
    }

    #hero .hero-black {
        background-color: rgba(255,255,255,0) !important; 
    }

    .fb_reset {
        display: none;
    }
  }

:root {
     --dedalo: #D2C29D;
     --negro20: rgba(0,0,0,0.2);
     --negro30: rgba(0,0,0,0.3);
     --negro40: rgba(0,0,0,0.4);
     --negro50: rgba(0,0,0,0.5);
     --negro60: rgba(0,0,0,0.6);
     --negro70: rgba(0,0,0,0.7);
     --negro80: rgba(0,0,0,0.8);
     --negro90: rgba(0,0,0,0.9);
     --blanco50: rgba(255,255,255,0.5);
     --blanco60: rgba(255,255,255,0.6);
     --blanco70: rgba(255,255,255,0.7);
     --blanco80: rgba(255,255,255,0.8);
     --blanco90: rgba(255,255,255,0.9);
     --trans: all 0.2s ease-in-out;
}

::selection {
     background: var(--dedalo);
     color: black;
}

::-moz-selection {
     background: var(--dedalo);
     color: black;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600 !important;
}

small, p, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

small, p, h1, h2, h3, h4, h5 {
letter-spacing: 0.2px;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
}

h2 {
    font-size: 1.5em !important;
    line-height: 1.2em;
}

h3 {font-size: 1.2em}

p {
    font-size: 0.9em;
    line-height: 1.6em;
}

ul {list-style: none;}

button, input, select, textarea {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     margin: 0;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a {
    cursor: pointer;
    color: var(--primario);
    text-decoration: none;
    transition: var(--trans);
    line-height: 1.2em;
}

a:hover {
    cursor: pointer;
    color: var(--primario);
    color: black;
}

/* BOTONES -------------------- */
.boton-primario {
    font-size: 1.1em;
    background: var(--primario);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    padding: 18px 25px;
    transition: var(--trans);
    border-style: none;
}

.boton-primario:hover {
    cursor: pointer;
    background: var(--secundario);
}

.no-boton {
    color: black !important;
    pointer-events: none !important;
    text-decoration: none !important;
}

/* display: grid ------------- */
#hero, #person, #links, #services, #location, footer {
    width: 100%;
    display: grid;
}

/* HERO ---------------------- */
#hero {
    color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
    height: 100vh;
    width: 100%;
}

#hero .logo, #hero h1, #hero h2, #hero small {
    z-index: 999;
}

#hero h1 {
    margin-top: 25px;
}

#hero h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    margin: 9px 0;
    padding: 0 8%;
    width: 90vw;
}

#hero .hero-black {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
    background-color: var(--negro20); 
}

#hero .logo {
    margin: 0 auto;
    border-radius: 50%;
    width: 170px;
}

/* PERSON -------------------- */
#person .photo {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

#person .photo, #person .photo img {
    position: relative;
}

#person .photo img {
    width: 100%;
    height: auto;
}

#person .institute {
    margin: 50px auto 0 auto;
    opacity: 50%;
}

#person .photo .info {
    position: relative;
    bottom: 0;
    display: block;
    right: 0;
    background-color: white;
    border-radius: 5px;
    margin-top: -30px;
    padding: 17px 20px;
    text-align: center;
}

#person .description {
    margin: 30px 0 40px 0;
    padding: 0 10%;
    text-align: justify;
}

#person .info p {
    color: var(--primario);
    font-size: 1.1em;
    font-weight: 600;
}

/* LINK ---------------------- */
#links {
    width: 100%;
    grid-template: repeat(2, auto) / repeat(2, 1fr);
    justify-items: center;
    align-items: flex-start;
    margin: 60px 0;
    grid-gap: 30px 30px;
}

#links div {
    display: grid;
    justify-items: space-around;
    align-items: center;
    width: 60%;
    height: auto;
    text-align: center;
}

#links div.item-1, #links div.item-3 {
    justify-self: flex-end;
}
#links div.item-2, #links div.item-4 {
    justify-self: flex-start;
}

#links a {
    padding: 5px;
    font-weight: 400;
    font-size: 0.8em;
}

#links .call {background: url('../icons/call.svg') no-repeat center center;}
#links .whatsapp {background: url('../icons/whatsapp.svg') no-repeat center center;}
#links .vcard {background: url('../icons/vcard.svg') no-repeat center center;}
#links .email {background: url('../icons/email.svg') no-repeat center center;}

#links span {
    background-size: 50% !important;
    display: flex;
    width: 55px;
    height: 55px;
    padding: 30px;
    border-radius: 50px;
    margin: 0 auto 10px auto;
    border: 2px solid black;
}

#links span {transition: var(--trans);}

#links a:hover {color: var(--primario);}

#links a:hover span {
    border: 2px solid var(--primario);
    color: var(--primario);
}

/* CAROUSEL ------------------ */
.carrusel {
    padding: 20px 0 !important;
    background-color: var(--secundario);
}
.carrusel .botones-carrusel {
    margin-bottom: 25px;
}

/* SERVICES ------------------ */
#services {
    width: 100%;
    justify-content: center;
}

#services h2 {
    text-align: center;
    margin: 40px 0 20px;
}

#services .service {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template: 1fr / 1fr;
}

#services figure {
    display: grid;
    height: auto;
    /* overflow: hidden; */
}

#services figure a.left, #services figure a.right {
    width: auto;
    display: block;
}

#services .service img {
    width: 100%;
    height: auto;
}

#services .service a {
    color: var(--primario);
    border-top: 4px solid var(--primario);
    position: relative;
    display: inline-block !important;
    top: -30px;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 80%;
    box-shadow: 0px -7px 7px 0px rgb(0 0 0 / 11%);
    -webkit-box-shadow: 0px -7px 7px 0px rgb(0 0 0 / 11%);
    text-underline-position: under;
    text-decoration: underline;
    height: auto;
    background: white;
    padding: 18px;
}

#services .service a:hover {color: black;}

#services p {
    font-weight: 500;
}

/* LOCATION ------------------ */
#location {
    width: 100%;
    margin-top: 30px;
}

#location .address {
    overflow-y: hidden;
}

#location .address, .map-frame {
    height: 450px;
    padding-bottom: 20px;
    width: 100% !important;
}

#location  .map-content {
    background: white;
    bottom: 65px;
    display: block;
    max-width: 60%;
    padding: 15px;
    position: relative;
    width: 100%;
}

#location  .google-maps {
    width: auto;
    max-width: 200px;
    padding: 10px 15px;
    margin-bottom:30px;
    display: flex;
    align-items: center;
}

#location small {font-size: 0.75em;}

#location .google-maps small {
    margin-right: 5px;
}

#location .icon-map {
    background: url('../icons/location.svg') no-repeat center center;
    background-size: cover;
    width:30px;
    height: 30px;
    transition: var(--trans);
}

#location .google-maps:hover .icon-map {
    color: green;
    background: url('../icons/location-hover.svg') no-repeat center center;
    background-size: cover;
    width:30px;
    height: 30px;
}

/* LINE ---------------------- */
#line {
    border-top: 1px dotted lightgray;
    display: block;
    padding: 5px;
    width: 94%;
    margin: 0 auto;
    margin-top: 20px;
}

/* FOOTER -------------------- */
footer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
}
footer ul {
    overflow: initial;
}

footer ul li {
    display: inline;
    height: 40px;
}

.share, .share:hover {
    color: rgba(0,0,0,0.0);
    z-index: 9999;
}

footer ul li .facebook {background-image: url('../icons/facebook.svg')}
footer ul li .twitter {background-image: url('../icons/twitter.svg')}
footer ul li .youtube {background-image: url('../icons/youtube.svg')}
footer ul li .instagram {background-image: url('../icons/instagram.svg')}
footer ul li .share {background-image: url('../icons/share.svg')}

footer ul li a, footer ul li button {
    padding: 14px 40px;
    border: 0;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: center center;
}

footer ul li button {
    padding: 14px 10px;
    cursor: pointer;
}

footer ul li .facebook,
footer ul li .twitter,
footer ul li .youtube,
footer ul li .instagram,
footer ul li .share
{background-size: contain;}

footer ul li .facebook:hover,
footer ul li .twitter:hover,
footer ul li .youtube:hover,
footer ul li .instagram:hover,
footer ul li .share:hover
{opacity: 50%;}

footer small:first-child {
    margin: 20px 0 30px;
    font-weight: 400;
}

footer small:nth-last-child(1) {
    margin: 35px 0;
    color: var(--negro60);
}

/* Inicia :: icono play home - Para Modal Youtube */
.playreel a {
    color: white;
    font-family: "FontAwesome"; 
    font-size: 3.5em;
    text-decoration: none;
    /* position: absolute; */
}
.playreel {
    display: inline-flex;
    flex-direction: row;
    line-height: 1em;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.playreel .icon-play {
    background: url("../images/icono-play.svg") no-repeat center center;
    background-size: contain;
    width: 80px;
    height: 80px;
    margin-top: 20px;
    display: inline-block;
    transition: var(--trans);
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgba(255,255,255,0.5);
}
.playreel:hover .icon-play {
    background: url("../images/icono-play-hover.svg") no-repeat center center;
    background-size: contain;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: scale(0.8);
    opacity: 0.9;

}
/* Termina :: icono play home - Para Modal Youtube */

.qr {
    z-index: 999;
    display: flex;
    width: 35px;
    position: fixed;
    margin: 0 3% 0 3%;
    padding: 0;
    background: rgba(0,0,0,0.5);
}

.qr img {
    margin: 0;
    padding: 0;
}

.fancybox-image {
    width: 80% !important;
    height: auto !important;
    position: relative !important;
    margin: 0 auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}